services:
  datausa-pytesseract-blue: &app
    container_name: datausa-pytesseract-blue
    image: ${GCP_ARTIFACT_REGISTRY_LOCATION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GCP_ARTIFACT_REGISTRY_NAME}/${GCP_IMAGE_NAME}:${GCP_IMAGE_TAG}
    restart: always
    stop_signal: SIGTERM
    stop_grace_period: 30s
    env_file:
      - .env.gcp
    networks:
      - pytesseract
    volumes:
      - /tmp:/tmp
    extra_hosts:
      - "host.docker.internal:host-gateway"

  datausa-pytesseract-green:
    <<: *app
    container_name: datausa-pytesseract-green
    restart: unless-stopped
    env_file:
      - .env.gcp

  datausa-pytesseract-caddy:
    container_name: datausa-pytesseract-caddy
    image: ${GCP_ARTIFACT_REGISTRY_LOCATION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GCP_ARTIFACT_REGISTRY_NAME}/caddy:latest
    restart: always
    ports:
      - 9998:80
      - 9997:443
      - 9996:2019
    networks:
      - pytesseract

networks:
  pytesseract:
    driver: bridge